// Colours
$background: #f9f8f6;

$dark-grey: #888;
$mid-grey: #bab9c7;
$light-grey: #f9f8f6;
$medium-purple: #7b3ac4;
$light-purple: #e7e7ed;

$purple: #411085;
$dark-purple: #0a0545;
$yellow: #ffcd1b;
$light-blue: #109ad6;
$white: #fff;
$black: #000;
$pink: #a8005f;
$orange: #109ad6;
