<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stair Well</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/gif" href="http://images.laterooms.com/favicon.gif" />
        <link rel="shortcut icon" type="image/gif" href="http://images.laterooms.com/favicon.gif" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="styles/src/main.css">
        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main">
            <section class="header">
                <div class="container">
                    <h1>
                        <a class="logo" href="/" title="Laterooms.com">
                            <img src="images/global/logo-nav.png" width="239" height="70"alt="logo">
                        </a>
                    </h1>
                    <nav class="main-nav">
                        <ul class="nav">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/leaderboard">Leaderboard</a></li>
                            <li><a href="/scan">Scan</a></li>
                            <li><a class="hl" href="#">Sign out</a></li>
                        </ul>
                    </nav>
                    <div class="nav-toggle">
                        <span class="nav-open"></span>
                        <span class="nav-close"></span>
                    </div>
                </div>
            </section>
            {{{ body }}}
        </div>

        <script src="scripts/llqrcode.js"></script>
        <script src="scripts/webqr.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
        <script src="scripts/main.js"></script>
</body>
</html>
