<section class="content">
    <div class="container">
        <section class="activity-feed col-md-8">
            <h1>Fastest times</h1>
            {{#each leaderboards.allTimeFastest}}
            <div class="activity-feed__profile">
                <p>{{position}}</p>
                <img src="{{{user.picture}}}" height="100" width="100" alt="Ben Large" class="activity-feed__image">
                <ul class="activity-feed__info">
                    <li><h3>{{user.name}}</h3></li>
                    <li>Time: <span class="hl">{{durationInSeconds}}</span> seconds</li>
                    <li>{{whenDone}}</li>
                </ul>
                <img src="{{{trophyImage}}}" alt="" class="activity-feed__position">
            </div>
            {{/each}}

           <h1 class="most-steps">Most steps</h1>
           
           {{#each leaderboards.allTimeHighest}}
            <div class="activity-feed__profile">
                <p>{{position}}</p>
                <img src="{{{user.picture}}}" height="100" width="100" alt="Ben Large" class="activity-feed__image">
                <ul class="activity-feed__info">
                    <li><h3>{{user.name}}</h3></li>
                    <li>Climbed <span class="hl">{{stairs}}</span></li>
                </ul>
                <img src="{{{trophyImage}}}" alt="" class="activity-feed__position">
            </div>
            {{/each}}
        </section>

        <section class="sidebar col-md-4">
            <h2>My stats</h2>
            <h3>Past 7 days</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Fastest time</td>
                        <td>{{sevenDayStats.fastestTime}}</td>
                    </tr>
                    <tr>
                        <td>Stairs climbed</td>
                        <td>{{sevenDayStats.totalSteps}}</td>
                    </tr>
                </tbody>
            </table>
            <h3>All time</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Fastest time</td>
                        <td>2m 32s</td>
                    </tr>
                    <tr>
                        <td>Stairs climbed</td>
                        <td>{{userProfile.totals.stepsAscended}}</td>
                    </tr>
                    <tr>
                        <td>Total time</td>
                        <td>10m 43s</td>
                    </tr>
                    <tr>
                        <td>Total steps</td>
                        <td>2334</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>
