<video autoplay loop poster="polina.jpg" id="bgvid">
    <source src="video/StairWellStartupBlank.mp4" type="video/mp4">
</video>

<div class="login col-md-6">
    <h1 class="login__header">Sign in</h1>
    <div class="login__form">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="Username">Username</label>
                    <div class="controls">
                        <input id="Username" name="Username" type="text" placeholder="" class="input-xlarge">

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input id="password" name="password" type="password" placeholder="" class="input-xlarge">

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="controls">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <p>Or</p>

        <ul class="login__social">
            <li><a href="#"><img src="images/global/twitter.png" alt=""></a></li>
            <li><a href="#"><img src="images/global/facebook.png" alt=""></a></li>
        </ul>

    </div>
</div>
