<section class="content">
    <div class="container">
        <section class="profile col-md-8">
            <h1>Profile</h1>
            <div class="profile__profile">
                <img src="{{{user.photo}}}" height="124" width="124" alt="Ben Large" class="profile__image">
                <ul class="profile__info">
                    <li><h3>{{user.displayName}}</h3></li>
                    <li>Climbing stairs since <span class="hl">{{profile.dateStartedClimbing}}</span></li>
                </ul>
            </div>
            <canvas id="profile__chart" width="640" height="270"></canvas>
            <div class="acheivements">
                <h1>Acheivements</h1>
                <ul>
                    <li><img src="images/badges/1000.png" alt=""></li>
                    <li><img src="images/badges/1500.png" alt=""></li></li>
                    <li><img src="images/badges/shard.png" alt=""></li>
                    <li><img src="images/badges/snowdon.png" alt=""></li></li>
                </ul>
            </div>
        </section>
        <section class="sidebar col-md-4">
            <h2>My stats</h2>
            <h3>Past 7 days</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Fastest time</td>
                        <td>2m 32s</td>
                    </tr>
                    <tr>
                        <td>Stairs climbed</td>
                        <td>455</td>
                    </tr>
                </tbody>
            </table>
            <h3>All time</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Fastest time</td>
                        <td>{{profile.bestTime}} seconds</td>
                    </tr>
                    <tr>
                        <td>Total steps climbed</td>
                        <td>{{profile.totals.stepsAscended}}</td>
                    </tr>
                    <tr>
                        <td>Total time</td>
                        <td>{{profile.totals.time}} seconds</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>
