<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>step up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/gif" href="http://images.laterooms.com/favicon.gif" />
        <link rel="shortcut icon" type="image/gif" href="http://images.laterooms.com/favicon.gif" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900italic' rel='stylesheet' type='text/css'>
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main">
            <section class="header">
                <!--[if lt IE 10]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
                <div class="container">
                    <h1><a class="logo" href="/" title="Laterooms.com"></a></h1>
                    <nav class="main-nav">
                        <ul class="nav">
                            <li><a href="index.html">Dashboard</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="leaderboard.html">Leaderboard</a></li>
                            <li><a href="scan.html">Scan</a></li>
                            <li><a class="hl" href="#">Sign out</a></li>
                        </ul>
                    </nav>
                    <div class="nav-toggle">
                        <span class="nav-open"></span>
                        <span class="nav-close"></span>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container">
                    <section class="activity-feed col-md-8">
                        <h1>Activity feed</h1>
                        <div class="activity-feed__profile">
                            <img src="images/avatars/ben-l.jpg" height="124" width="124" alt="Ben Large" class="activity-feed__image">
                            <ul class="activity-feed__info">
                                <li><h3>Ben Nam</h3></li>
                                <li>Climbed <span class="hl">123</span> steps</li>
                                <li>12:30 - Monday 12th July</li>
                            </ul>
                        </div>
                        <div class="activity-feed__profile">
                            <img src="http://placehold.it/124x124" alt="..." height="124" width="124" class="activity-feed__image">
                            <ul class="activity-feed__info">
                                <li><h3>Phil Speakman</h3></li>
                                <li>Climbed <span class="hl">4570</span> steps</li>
                                <li>12:30 - Monday 12th July</li>
                            </ul>
                            <img class="activity-feed__badge" src="images/global/badge-1.png" alt="">
                        </div>
                        <div class="activity-feed__profile">
                            <img src="http://placehold.it/124x124" alt="..." height="124" width="124" class="activity-feed__image">
                            <ul class="activity-feed__info">
                                <li><h3>Damien Dawson</li>
                                <li>Has a <span>5 day</span> streak!</li>
                                <li>12:30 - Monday 12th July</li>
                            </ul>
                            <img class="activity-feed__badge" src="images/global/badge-2.png" alt="">
                        </div>
                        <div class="activity-feed__profile">
                            <img src="http://placehold.it/124x124" alt="..." height="124" width="124" class="activity-feed__image">
                            <ul class="activity-feed__info">
                                <li><h3>Hoy yen</h3></li>
                                <li>Just got a PB of <span>2m 15s</span>!</li>
                                <li>12:30 - Monday 12th July</li>
                            </ul>
                        </div>
                    </section>
                    <section class="sidebar col-md-4">
                        <h2>My stats</h2>
                        <h3>Past 7 days</h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Fastest time</td>
                                    <td>2m 32s</td>
                                </tr>
                                <tr>
                                    <td>Stairs climbed</td>
                                    <td>455</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>All time</h3>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Fastest time</td>
                                    <td>2m 32s</td>
                                </tr>
                                <tr>
                                    <td>Stairs climbed</td>
                                    <td>455</td>
                                </tr>
                                <tr>
                                    <td>Total time</td>
                                    <td>10m 43s</td>
                                </tr>
                                <tr>
                                    <td>Total steps</td>
                                    <td>2334</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>

        </div>




        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->




        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
